@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre&family=Roboto+Slab:wght@500&display=swap');

* {
    margin: 0;
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
    font-size: 25px;
    background-color: #D3F4FB;
}


/* Header */
.header{
    margin: 10px;
    position: sticky;
    top: 0px;
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    background-color: #05445E;
    border-radius: 999px;
    box-shadow: 0px 10px 25px -9px rgba(0, 0, 0, 0.75);
}

.header h1{
    color: white;
    font-size: 30px;
    background-color: #05445E;
}

/* End Header */

/* Middle Content */
.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 5px;
}

.content .correct{
    background-color: #41729F;
    padding: 10px;
    width: 33%;
    height: 570px;
    border-radius: 20px;
    margin: 0px 10px;
    box-shadow: 0px 10px 25px -9px rgba(0, 0, 0, 0.75);
    position: relative;
}

.content .correct .correct-name{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 5px;
    padding: 10px;
    border-radius: 10px;
    background-color: #05445E;
    box-shadow: 3px 5px 10px -10px rgba(0, 0, 0, 0.75);    
}

.correct-name h2{
    background-color: #05445E;
    color: white;
}

.correct .correct-name-bt{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0px;
    width: 90%;
    margin: 10px 5px;
    padding: 10px;
    border-radius: 10px;
    background-color: #189AB4;
    box-shadow: 3px 5px 10px -10px rgba(0, 0, 0, 0.75);
}
.correct-name-bt h2{
    background-color: #189AB4;
    color: white;
}

.content .word{
    position: relative;
    background-color: #05445E;
    padding: 10px;
    width: 33%;
    height: 570px;
    border-radius: 20px;
    margin: 0px 10px;
    box-shadow: 0px 10px 25px -9px rgba(0, 0, 0, 0.75);
}

.content .word .word-name{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 5px;
    padding: 10px;
    border-radius: 10px;
    background-color: #05445E;
    /* box-shadow: 3px 5px 10px -10px rgba(0, 0, 0, 0.75); */
}

.word-name h2{
    background-color: #05445E;
    color: white;
}

.word-name-dropping{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    background: none;
}

.word-name-dropping h2{
    background: none;
    color: white;
}

.content .incorrect{
    background-color: #41729F;
    padding: 10px;
    width: 33%;
    height: 570px;
    border-radius: 20px;
    margin: 0px 10px;
    box-shadow: 0px 10px 25px -9px rgba(0, 0, 0, 0.75);
    position: relative;
}

.content .incorrect .incorrect-name{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 5px;
    padding: 10px;
    border-radius: 10px;
    background-color: #05445E;
    box-shadow: 3px 5px 10px -10px rgba(0, 0, 0, 0.75);
}

.incorrect-name h2{
    background-color: #05445E;
    color: white;
}

.content .incorrect .incorrect-name-bt{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0px;
    width: 90%;
    margin: 10px 5px;
    padding: 10px;
    border-radius: 10px;
    background-color: #be0000;
    box-shadow: 3px 5px 10px -10px rgba(0, 0, 0, 0.75);
}

.incorrect-name-bt h2{
    background-color: #be0000;
    color: white;
}

/* End Middle Content */

/* Footer */
.footer{
    margin: 10px;
    position: sticky;
    bottom: 0px;
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    background-color: #189AB4;
    border-radius: 999px;
    height: 50px;
    box-shadow: 0px 10px 25px -9px rgba(0, 0, 0, 0.75);
}

.footer .input{
    margin: 0px 10px;
    background: none;
}
.footer .input input{
    border: none;
    border-radius: 999px;
    padding: 10px;
    width: 400px;
    outline: none;
}

.footer .score{
    margin: 0px 10px;
    border-radius: 999px;
}
.footer .score button{
    background:none;
    border: none;
    margin: 0px 10px;
    padding: 10px;
    cursor: pointer;
}

/* End Footer */




/* Moving Word Top To Bottom */

/* .word-name-dropping{
    position: absolute;
    animation: myanimation 5s 2;
    animation-direction:normal;
    bottom: 100px;
}

@keyframes myanimation{
    100%{
        bottom: 0px;
    }
} */